<div class="panel panel-default">
  <div class="panel-heading"><h2>Edycja danych</h2></div>
  <div class="panel-body">

<%= render 'form' %>

<%= link_to 'Wyswietl', @pin %> |
<%= link_to 'Wstecz', pins_path %>

</div>
  <div class="panel-footer">Dane</div>
</div>