
<div class="page-header">
  <h1>Jestesmy firma znajdujaca sie na rynku od wielu lat</h1>
</div>

<div class="jumbotron" >
<strong><h1> <center>Kontakt z prezesem.</center></h1></strong>


<table class="table">
</table>
<center>
<address>
  <strong>MS ZAJDA</strong><br>
  Grzechynia <br>
  Powiat Suski<br>
  <abbr title="Phone">P:</abbr> +48 123456789

</address>


        <h3>Domink Zajda</h3>
        <p><strong> Właściciel </strong></p>
        <h2>
          <a href="www.facebook.pl"> <span class="glyphicon glyphicon-envelope"></span> </a>
          <a href="https://platformafirm-paleczny.c9users.io/users/sign_in"> <span class="glyphicon glyphicon-user"></span> </a>

</center>

</div>
<hr>
  <section id="Nasze zalety">
    <div class="container">
      <div class="row">
        
 
      
    </div>

 


