

<div class="jumbotron" >
  <div class="page-header">
      
      
<center><h1>Oferta klientów indywidualnych</h1></center>

</div>
</div>
<div class="col-md-2">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/PlusCM128.svg/1200px-PlusCM128.svg.png", class: "img-responsive" %>
    
    
</div>




<div class="col-md-10">
    <div class="col-md-12">
        <h4>Gładzie gipsowe</h4>
    </div>
    
    <div class="col-md-6">
        <strong>

dwukrotne szpachlowanie, jednokrotne malowanie na biało i usuwanie ewen­tualnych niedociągnięć

gładź gipsowa, szpachlowanie ścian, sufitów

    przygotowanie powierzchni – reperacja pęknięć,
    wygładzanie masą szpachlową,
    szlifowanie,
    wykonanie tynków tradycyjnych,
    wykonanie tynków wg projektów.

</strong>
        
    </div>
    <div class="col-md-6">
        <strong> Wazna do dnia 2017-12-30 </strong>
        
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    
    <div class="col-md-2">
    
    
</div>



    
    
</div>

<div class="col-md-2">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/PlusCM128.svg/1200px-PlusCM128.svg.png", class: "img-responsive" %>
    
    
</div>

<div class="col-md-10">
    <div class="col-md-12">
        <h4> Malowanie</h4>
    </div>
    
    <div class="col-md-6">
        <strong> 

sufitów, malowanie emulsyjne, olejne farbami matowymi oraz z połyskiem z uprzednim przygotowaniem powierzchni.

malowanie emulsyjne, akrylowe, olejne

    przygotowanie powierzchni malowanych (reperacje pęknięć, naprawa tynku),
    malowanie farbami podkładowymi i nawierzchniowymi na różnych pod­łożach wewnętrznych i zewnętrznych,
    malowanie olejne stolarki drzwiowej i okiennej,
    malowanie olejne balustrad, krat, rur itp.

</strong>
        
        
    </div>
    <div class="col-md-6">
        <strong> Wazna do dnia 2017-12-30 </strong>
        
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    
    <div class="col-md-2">
    
    
</div>




    
    
</div>
<div class="col-md-2">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/PlusCM128.svg/1200px-PlusCM128.svg.png", class: "img-responsive" %>
    
    
</div>

<div class="col-md-10">
    <div class="col-md-12">
        <h4> Sciany murowane</h4>
    </div>
    
    <div class="col-md-6">
        <strong> 

    przygotowanie powierzchni przed stawianiem ścian,
    murowanie ścian z cegieł, bloczków betonowych, pustaków,
    tynkowanie postawionych ścian,
    nietypowe zabudowy.


</strong>
        
        
    </div>
    <div class="col-md-6">
        <strong> Wazna do dnia 2017-12-30 </strong>
        
    </div>
    <div class="col-md-12">
        <hr>
    </div>
    
    <div class="col-md-2">
    
    
</div>
</div>


<footer>
        <p class="float-right"><a href="#">Powrót do góry.</a></p>
           <h2> Oferty zgłaszać telefonicznie pod nr. 888 888 888 </h2>
          <h4>Jest to oferta dla klientow indywidualnych.</h4>
      </footer>


 <style>
.jumbotron {
    background-color: #9e9e9e; 
    color: #ffffff;
}
</style>

<body>
  <div class="jumbotron text-center">
    <h1>Wiecej informacji pod nr telefonu.</h1>
    <p>Oraz w naszej siedzibie pod adresem Grzechynia 111.</p>
  </div>
</body> 
