
<div class="jumbotron" >
  <div class="page-header">
  <h1>Witamy na stronie firmy MS ZAJDA <small><center>ZAKŁAD STOLARSKO CIESIELSKI USŁUGI REMONTOWO BUDOWLANE </center> </small></h1>
</div>

 <style>
.logo {
    font-size: 200px;
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>O nas</h2>
      <h4> </h4>Firma rozpoczęła swoją działalność w roku 1987.
od tego czasu firma systematycznie się rozwija, sukcesywnie zwiększa swoją bazę sprzętową oraz zatrudnienie.  Założycielem firmy a zarazem jej właścicielami są bracia Marek i Stanisław Zajda. W 2011 i 2012 roku do rozwoju firmy dołączyli również nasi synowie.
 Początkowo nasza firma zajmowała się wykonawstwem elementów konstrukcyjnych z drewna i pokryć dachowych. Doświadczenie w konstrukcjach drewnianych i pokryciach dachowych można powiedzieć, że posiadamy z dziada pradziada nasz ojciec i zarówno dziadek trudzili się ciesielstwem. 
</h4>
      
    </div>
    <div class="col-sm-4">
      <span class=" glyphicon glyphicon-menu-hamburger logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Oferujemy</h2>
       Oferujemy pełny zakres usług ogólnobudowlanych oraz stolarskich. Posiadamy wieloletnie doświadczenie oraz niezbędny sprzęt do realizacji większości prac budowlano/ stolarsko/ wykończeniowych.  
Wykonujemy prace według indywidualnych projektów. Realizujemy inwestycje dla klientów indywidualnych i instytucjonalnych (od jednostek samorządu terytorialnego po wspólnoty mieszkaniowe). Przedmiotem oferty są usługi budowlano-remontowe zarówno obiektów mieszkalnych, biurowo-usługowych jak i przemysłowych. 
Posiadamy zaprzyjaźnioną firmę do wykonywania konstrukcji stalowych i również własny niewielki warsztat stolarski w którym na specjalne życzenie klientów wykonujemy specjalistyczne prace związane z obróbką drewna zarówno elementy konstrukcyjne jak i dekoracyjne. 

    </div>
  </div>
</div> 

<blockquote>
  <p>Dobrze wykonujemy prace wszystko skordynowane dla waszych potrzeb.</p>
  <footer>Dyrektor wykonawczy<cite title="Source Title"> <strong>Dominik ZAJDA</strong></cite></footer>
</blockquote>

<img src="http://pics.tinypic.pl/i/00931/41atrb16c32q.png" alt="..." class="img-responsive center-block" >
<p class=text-center>
  
  <h2>Historia Firmy </h2>
<h3><center><strong>Nasz zakład stolarsko cieśelski usługi remontowo budowlane</strong> rozpoczęła swoją działalność w roku 1987.</center></h3>


od tego czasu firma systematycznie się rozwija, sukcesywnie zwiększa swoją bazę sprzętową oraz zatrudnienie.  Założycielem firmy a zarazem jej właścicielami są bracia Marek i Stanisław Zajda. W 2011 i 2012 roku do rozwoju firmy dołączyli również nasi synowie.
 Początkowo nasza firma zajmowała się wykonawstwem elementów konstrukcyjnych z drewna i pokryć dachowych. Doświadczenie w konstrukcjach drewnianych i pokryciach dachowych można powiedzieć, że posiadamy z dziada pradziada nasz ojciec i zarówno dziadek trudzili się ciesielstwem. 
Oferujemy pełny zakres usług ogólnobudowlanych oraz stolarskich. Posiadamy wieloletnie doświadczenie oraz niezbędny sprzęt do realizacji większości prac budowlano/ stolarsko/ wykończeniowych.  
Wykonujemy prace według indywidualnych projektów. Realizujemy inwestycje dla klientów indywidualnych i instytucjonalnych (od jednostek samorządu terytorialnego po wspólnoty mieszkaniowe). Przedmiotem oferty są usługi budowlano-remontowe zarówno obiektów mieszkalnych, biurowo-usługowych jak i przemysłowych. 
Posiadamy zaprzyjaźnioną firmę do wykonywania konstrukcji stalowych i również własny niewielki warsztat stolarski w którym na specjalne życzenie klientów wykonujemy specjalistyczne prace związane z obróbką drewna zarówno elementy konstrukcyjne jak i dekoracyjne. 
	
	Podczas długiej działalności na rynku, firma wypracowała dla siebie ogólnopolską sieć sprawdzonych dostawców wysokiej jakości materiałów, dzięki czemu postęp prac na budowach przebiega sprawnie i bez większych opóźnień.
Dzięki doświadczeniu oraz solidności naszych pracowników oraz nowoczesnej technologii gwarantujemy naszym klientom wysoką jakość wykonywanych przez nas usług.


</p>



<center>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Strona Głowna', root_path, class: 'btn btn-primary' %>
</center>
</div>



<div class="container">
 <center> <h2>Nasze projekty</h2>  </center>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    
    </ol>


    <div class="carousel-inner">
      <div class="item active">
        <img src="https://www.archeton.net/RESOURCES/WIDOKI/heliotrop/heliotrop-1300-b0-p.jpg " alt="Los Angeles">
      </div>

      <div class="item">
        <img src="http://www.euro-centrum.com.pl/media/uploads/articles/budynki/Budynek%2010/img_4889.jpg" alt="Hala dla firmy przeładunkowej." >
      </div>
        </div>


    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

</body>
</html>

<blockquote>
  <p>„ Trwałość budowli osiągnie się w tedy, gdy fundamenty doprowadzi się do stałego gruntu i gdy spośród wielu materiałów budowlanych, ofert przeprowadzi się wybór starannie, nie kierując się skąpstwem”   Trwałość, stabilność, bezpieczeństwo.</p>
  <footer>Wg Witruwiusza<cite title="Source Title"></cite></footer>
</blockquote>

<p class="float-right"><a href="#">Powrót do góry.</a></p>