
<div class="jumbotron" >
<h1>Witaj Pajacu na mojej surowej jak tatar stronie</h1>
<p>Etapy wykonania strony (aktualizowane) :
1. Postawienie srodowiska i serwera,
2. Zmiany wygladu w kodzie css oraz zmiany w nawigacji. 
3. Dodanie rejstracji uzytkownikow</p>

<%= link_to 'O mnie', home_about_path, class: 'btn btn-default' %>
<%= link_to 'Strona Głowna', root_path, class: 'btn btn-primary' %>

</div>
