
<div class="page-header">
  <h1>Jestesmy firma znajdujaca sie na rynku od wielu lat</h1>
</div>

<div class="jumbotron" >
<strong><h1> <center>Kontakt z prezesem.</center></h1></strong>


<table class="table">
</table>
<center>
<address>
  <strong>MS ZAJDA</strong><br>
  Grzechynia <br>
  Powiat Suski<br>
  <abbr title="Phone">P:</abbr> +48 123456789

</address>

   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJyqkB1rRjpX9vlKFWylQS7n7u5iivrw1RRa1_N1cY--M-HPZL"class="img-responsive" >
        <h3>Domink Zajda Pracownik do spraw ofert.</h3>
        <h2>
          <a href="www.facebook.pl"> <span class="glyphicon glyphicon-envelope"></span> </a>
          <a href="https://platformafirm-paleczny.c9users.io/users/sign_in"> <span class="glyphicon glyphicon-user"></span> </a>
        </h2>
   
</center>

</div>
<hr>
  <section id="Nasze zalety">
    <div class="container">
      <div class="row">
        
 
      
    </div>

 