<p>Dzien dobry  <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Informujemy ze twoje hasło zmienia sie na : <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Informujemy ze twoje hasło zostało zmienione na: <%= @resource.email %>.</p>
<% end %>
